<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRisdGDwtDivHF3APiFFzPq2r_2PETMWLUdT4-gSWk7HnT-rcy4fngqSVBKAk-8CilJqIA&usqp=CAU">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Running Tips</title>
    <!-- <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1 {
            text-align: center;
        }
        .tip {
            margin-bottom: 20px;
        }
        .links {
            margin-top: 30px;
        }
        .links h2 {
            margin-bottom: 10px;
        }
        .links ul {
            list-style-type: none;
            padding: 0;
        }
        .links li {
            margin-bottom: 5px;
        }
    </style> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

</head>
<body>
  <div class="topnav">
    <a href="/">ASRun</a>
    <a href="/search">Search</a>
    <a href="/leaderboard">Leaderboard</a>
    <a class="active" href="/tips">Tips</a>
  </div>
  <br>
    <h1>Running Tips</h1>
    <div class="tip">
        <h2>1. Stay Hydrated</h2>
        <p>Drink water regularly before, during, and after your run to stay hydrated.</p>
    </div>
    <div class="tip">
        <h2>2. Warm Up and Cool Down</h2>
        <p>Always warm up with some light jogging or dynamic stretches before starting your run. After your run, cool down with some stretching exercises to prevent muscle soreness.</p>
    </div>
    <div class="tip">
        <h2>3. Listen to Your Body</h2>
        <p>If you feel pain or discomfort while running, listen to your body and take a break if needed. Pushing through pain can lead to injuries.</p>
    </div>
    <div class="tip">
        <h2>4. Wear Proper Shoes</h2>
        <p>Invest in a good pair of running shoes that provide adequate support and cushioning for your feet.</p>
    </div>
    <div class="tip">
        <h2>5. Set Realistic Goals</h2>
        <p>Set achievable goals based on your current fitness level and gradually increase the intensity and duration of your runs.</p>
    </div>

    <div class="links">
        <h2>Running Locations</h2>
        <ul>
            <li>•<a href="https://www.instagram.com/p/C5pUj2EReE4/?img_index=1/" class="button">1km Outdoor</a></li>
            <li>•<a href="https://www.instagram.com/p/C5pdHIER5Uo/?img_index=1/" class="button">1km Sheltered</a></li>
            <li>•<a href="https://www.instagram.com/p/C5pdQ8ERDlW/" class="button">600m Sheltered</a></li>
            <!-- Add more links as needed -->
        </ul>
    </div>
</body>
</html>
